<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền cần cho chọn/chụp ảnh -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- FileProvider cho chụp ảnh -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- CHỈ cần MainActivity (NavHost sẽ điều hướng giữa các Fragment) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".attendee.home.VideoPlayerActivity" />

        <activity
            android:name=".attendee.detail.EventDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".attendee.home.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".organizer.CreateEventActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".organizer.OrganizerDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".organizer.OrganizerAttendeesActivity"
            android:exported="false" />

        <activity
            android:name=".attendee.detail.SelectTicketsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".attendee.detail.OrderSuccessActivity"
            android:exported="false" />

        <meta-data
            android:name="firebase_functions_default_region"
            android:value="asia-southeast1"/>


        <activity
            android:name=".attendee.notification.AttendeeNotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".organizer.OrganizerBroadcastActivity"
            android:exported="false" />

        <activity
            android:name=".attendee.detail.PaymentActivity"
            android:theme="@style/Theme.MyApplication" />




        <!-- LƯU Ý: KHÔNG khai báo LoginFragment / RegisterFragment ở đây -->
    </application>

</manifest>
